*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sauce two;
}

header, section{
    overflow-x: hidden;
}

a{
    color:  black !important;
    font-size: 1em;
    font-weight: 500;
}


.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: rgb(0, 0, 0);
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%
}


.nav-item:last-child{
    padding-right: 12.5em;
}

.nav-item{
    padding: 0.9em;
}

.navbar-brand{
    padding-left: 11em;
}

.navbar-brand img{
    width: 32%;
}

/* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 70px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 20px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 45%;
}

.post{
    margin-left: -25vmin;
    margin-right: -25vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 64vmin;
    
}

.ep{
    height: 45vmin;
}

.post .foe{
    margin-left: -12vmin;
    width: 51%;
}

/* section2 for images */

.seep{
    margin-top: -28vmin;
    width: 90%;
    margin-left: 27vmin;
}

.seeps{
    width: 63%;
    margin-top: 4vmin;
    margin-left: 23vmin;
    height: 45vmin;
}

.seepss{
    width: 63%;
    margin-top: -11vmin;
    margin-left: -1vmin;
    height: 50vmin;
}

/* end of section2 for images */

.deep{
    margin-top: -18vmin;
    width: 93%;
    margin-left: 27vmin;
    height: 65vmin;
}

.deeps{
    width: 63%;
    margin-top: 4vmin;
    margin-left: 25vmin;
    height: 43vmin;
}

.deepss{
    width: 64%;
    margin-top: -6vmin;
    margin-left: 1.5vmin;
    height: 53vmin;
}

/* end of section3 for images */

footer{
    background: black;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 21vmin;
    margin-top: 15vmin;
}

.ad{
    font-size: 35px;
    color: white;
    margin-top: 10vmin;
    font-family: abhaya libre;
}

.office{
    color: white;
    font-size: 20px;
    font-family: open sauce two;
    font-weight: 100;
    padding-top: 2vmin;
}

.foots{
    margin-left: -13vmin;
    margin-right: 10vmin;
}

.input-group input{
    height: 6vmin;
    background: rgb(205, 204, 206);
    outline: none;
    border-radius: none;
    border: none;
}

.btn4{
    margin-top: 3vmin;
    width: 35%;
    height: 6vmin;
    border: none;
    border-radius: none;
    outline: none;
    cursor: pointer;
    font-family: abhaya libre;
    font-size: 20px;
}

.icon{
    margin-top: 8vmin;
    margin-bottom: 5vmin;
}

.icon i{
    color: white;
    padding: 1vmin;
    font-size: 20px;
}



@media(max-width: 768px){

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }



* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 50px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 25px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 38%;
}

.post{
    margin-left: -14vmin;
    margin-right: -14vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 45vmin;
    
}

.ep{
    height: 35vmin;
}

.post .foe{
    margin-left: -19vmin;
    width: 71%;
}

/* section2 for images */

.seep{
    margin-top: -13vmin;
    width: 97%;
    margin-left: 12vmin;
}

.seeps{
    width: 63%;
    margin-top: -9vmin;
    margin-left: 12vmin;
    height: 35vmin;
}

.seepss{
    width: 63%;
    margin-top: 3vmin;
    margin-left: -1vmin;
    height: 30vmin;
}

/* end of section2 for images */

.deep{
    margin-top: -16vmin;
    width: 95%;
    margin-left: 12vmin;
    height: 35vmin;
}

.deeps{
    width: 63%;
    margin-top: -4vmin;
    margin-left: 12vmin;
    height: 23vmin;
}

.deepss{
    width: 64%;
    margin-top: 2vmin;
    margin-left: -0.2vmin;
    height: 17vmin;
}

/* end of section3 for images */



/* Section5 */

footer{
    background: black;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 3vmin;
    margin-top: 15vmin;
}

.ad{
    font-size:18px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 12px;
}

.foots{
    margin-left: -6vmin;
    margin-right: 4vmin;
}


.btn4{
    
    width: 55%;
    background: white !important;
    color: black !important;

}

}


@media(max-width: 1024px){
    .navbar-brand{
        padding-left: 1em;
    }
    .icon-align-right{
        color: black;
    }

    .nav-item:last-child{
        padding-right: 2em;
    }

    .nav-item{
        padding: 2em;
    }


    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 60px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 29px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 45%;
}

.post{
    margin-left: -14vmin;
    margin-right: -14vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 48vmin;
    
}

.ep{
    height: 35vmin;
}

.post .foe{
    margin-left: -17vmin;
    width: 71%;
}

/* section2 for images */

.seep{
    margin-top: -8vmin;
    width: 111%;
    margin-left: 17vmin;
}

.seeps{
    width: 55%;
    margin-top: 3vmin;
    margin-left: 22vmin;
    height: 35vmin;
}

.seepss{
    width: 56%;
    margin-top: 3vmin;
    margin-left: 4vmin;
    height: 30vmin;
}

/* end of section2 for images */

.deep{
    margin-top: 2vmin;
    width: 112%;
    margin-left: 17vmin;
    height: 35vmin;
}

.deeps{
    width: 57%;
    margin-top: 3vmin;
    margin-left: 22vmin;
    height: 34vmin;
}

.deepss{
    width: 56%;
    margin-top: -2vmin;
    margin-left: 4vmin;
    height: 39vmin;
}

/* end of section3 for images */


/* Section5 */

footer{
    background: black;
}

.start{
    color: white;
    margin-right: 70vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-left: 3vmin;
    margin-top: 15vmin;
}

.ad{
    font-size:27px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 16px;
}

.foots{
    margin-left: -6vmin;
    margin-right: 4vmin;
}


.btn4{
    
    width: 55%;
    background: white !important;
    color: black !important;
}

}


@media(max-width: 320px){
    .navbar-toggler{
        margin-top: -15vmin;
        margin-left: 77vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }


    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 29px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 15px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 45%;
}

.post{
    margin-left: -14vmin;
    margin-right: -14vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 30vmin;
    
}

.ep{
    height: 35vmin;
}

.post .foe{
    margin-left: -1vmin;
    width: 69%;
}

/* section2 for images */

.seep{
    margin-top: 5vmin;
    width: 64%;
    margin-left: 16vmin;
}

.seeps{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 16vmin;
    height: 35vmin;
}

.seepss{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 1vmin;
    height: 35vmin;
}

/* end of section2 for images */

.deep{
    margin-top: 4vmin;
    width: 65%;
    margin-left: 16vmin;
    height: 35vmin;
}

.deeps{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 16vmin;
    height: 34vmin;
}

.deepss{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 1vmin;
    height: 34vmin;
}


      /* Section5 */

      footer{
        background: black;
    }
    
    .start{
        color: white;
        margin-right: 60vmin;
        font-size: 28px;
        margin-bottom: -1vmin;
    }
    
    .section5{
        margin-top: 15vmin;
    }
    
    .ad{
        font-size:18px;
        color: white;
        margin-top: 10vmin;
    }
    
    .office{
        font-size: 13px;
    }
    
    .foots{
        margin-left: -2vmin;
        margin-right: 14vmin;
    }
    
    .input-group input{
        height: 12vmin;
    }
    
    
    .btn4{
         width: 55%;
        background: white !important;
        color: black !important;
        height: 10vmin;
        margin-bottom: 10vmin;
    }
    
}


@media(max-width: 375px){

    .navbar-toggler{
        margin-top: -15vmin;
        margin-left: 77vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }

    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 35px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 18px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 45%;
}

.post{
    margin-left: -14vmin;
    margin-right: -14vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 30vmin;
    
}

.ep{
    height: 35vmin;
}

.post .foe{
    margin-left: -1vmin;
    width: 69%;
}

/* section2 for images */

.seep{
    margin-top: 5vmin;
    width: 64%;
    margin-left: 16vmin;
}

.seeps{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 16vmin;
    height: 35vmin;
}

.seepss{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 1vmin;
    height: 35vmin;
}

/* end of section2 for images */

.deep{
    margin-top: 4vmin;
    width: 65%;
    margin-left: 16vmin;
    height: 35vmin;
}

.deeps{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 16vmin;
    height: 34vmin;
}

.deepss{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 1vmin;
    height: 34vmin;
}



      /* Section5 */

      footer{
        background: black;
    }
    
    .start{
        color: white;
        margin-right: 60vmin;
        font-size: 28px;
        margin-bottom: -1vmin;
    }
    
    .section5{
        margin-top: 15vmin;
    }
    
    .ad{
        font-size:18px;
        color: white;
        margin-top: 10vmin;
    }
    
    .office{
        font-size: 13px;
    }
    
    .foots{
        margin-left: -2vmin;
        margin-right: 14vmin;
    }
    
    .input-group input{
        height: 12vmin;
    }
    
    
    .btn4{
         width: 55%;
        background: white !important;
        color: black !important;
        height: 10vmin;
        margin-bottom: 10vmin;
    }

}



@media(max-width: 425px){

    .navbar-toggler{
        margin-top: -13vmin;
        margin-left: 83vmin;
    }

    .nav-item{
        padding: 0.3em;
        margin-left: 5vmin;
    }
    
    
    .navbar-brand img{
        width: 21%;
    }
    

    .navbar-brand{
        padding-left: 1em;
    }

    .icon-align-right{
        color: black;
    }


    
    

* section9*/

.section9{
    margin: 5vmin;
}

.your h1{
    font-size: 40px;
    text-align: center;
    font-family: abhaya libre;
    margin-top: 3vmin;

}

.your p{    
    text-align: center;
    font-size: 20px;
    margin-top: 2vmin;
    font-family: Abeezee;
}


.post img{
    width: 45%;
}

.post{
    margin-left: -14vmin;
    margin-right: -14vmin;
}

.four-picture{
    margin-top: 4vmin;
    margin-left: 30vmin;
    
}

.ep{
    height: 35vmin;
}

.post .foe{
    margin-left: -1vmin;
    width: 69%;
}

/* section2 for images */

.seep{
    margin-top: 5vmin;
    width: 64%;
    margin-left: 16vmin;
}

.seeps{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 16vmin;
    height: 35vmin;
}

.seepss{
    width: 58%;
    margin-top: 3vmin;
    margin-left: 1vmin;
    height: 35vmin;
}

/* end of section2 for images */

.deep{
    margin-top: 4vmin;
    width: 65%;
    margin-left: 16vmin;
    height: 35vmin;
}

.deeps{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 16vmin;
    height: 34vmin;
}

.deepss{
    width: 59%;
    margin-top: 4vmin;
    margin-left: 1vmin;
    height: 34vmin;
}

    
footer{
    background: black;
}

.start{
    color: white;
    margin-right: 60vmin;
    font-size: 28px;
    margin-bottom: -1vmin;
}

.section5{
    margin-top: 15vmin;
}

.ad{
    font-size:22px;
    color: white;
    margin-top: 10vmin;
}

.office{
    font-size: 13px;
}

.foots{
    margin-left: -2vmin;
    margin-right: 14vmin;
}

.input-group input{
    height: 12vmin;
}


.btn4{
    width: 55%;
    background: white !important;
    color: black !important;
    height: 10vmin;
    margin-bottom: 10vmin;
}

}
